<!doctype html>
<html>
  <head>
	  <style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-start{clip:rect(0,auto,auto,0);-ms-zoom:1.0001;}.ng-animate-active{clip:rect(-1px,auto,auto,0);-ms-zoom:1;}</style>
	  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
	  <title>AngularJS Demo App</title>
	  <link href="http://fiddle.jshell.net/css/result-light.css" type="text/css" rel="stylesheet">
	  <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" type="text/css" rel="stylesheet">
  </head>
<body>
  <div ng-app="app" ng-controller="ContactController">
    <form class="well">
        <label>Name</label>
        <input type="text" name="name" ng-model="newcontact.name" />
        <label>Email</label>
        <input type="text" name="email" ng-model="newcontact.email" />
        <label>Phone</label>
        <input type="text" name="phone" ng-model="newcontact.phone" />
        <br/>
        <input type="hidden" ng-model="newcontact.id" />
        <input type="button" value="Save" ng-click="saveContact()" class="btn btn-primary" />
    </form>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="contact in contacts">
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.phone }}</td>
                <td> <a href="javascript:void(0)" ng-click="edit(contact.id)">edit</a> | <a href="javascript:void(0)" ng-click="delete(contact.id)">delete</a>

                </td>
            </tr>
        </tbody>
    </table>
  </div>
  <script src="./scripts/libs/angular-1.2.1.js"></script>
  <script src="./scripts/app.js"></script>
  <script src="./scripts/services/ContactService.js"></script>  
  <script src="./scripts/controllers/ContactController.js"></script>
</body>
</html>